.button {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: var(--green);
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--white-80);
  transition: color var(--transition-time) ease;

  &:hover {
    color: var(--white);

    svg {
      path {
        stroke: var(--white);
      }
    }
  }

  &__icon {
    width: 35px;
    height: 35px;

    svg {
      width: 100%;
      height: 100%;

      path {
        stroke: var(--dark);
        transition: stroke var(--transition-time) ease;
      }
    }
  }
}
