.search {
  position: relative;

  &__input {
    background-color: var(--bg-search);
    padding: 8px 20px;
    border-radius: 40px;
    width: 100%;
    height: 55px;
    border: 1px solid var(--border);
    cursor: pointer;
    transition: border-color var(--transition-time);

    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
  }

  &__icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

    path {
      stroke: black;
    }
  }
}
